@page "/"
@page "/{keyword}"
@inject HttpClient Http
@using Domain
@using Services

<div class="card-container container-fluid"> 
@foreach (var card in game.Cards)
{
    <div class="card @(!card.IsRevealed ? "flipped" : "") @(card.IsFound ? "found" : "") @(card.State == CardState.Wrong ? "wrong" : "")" onclick="@{() => OnClick(card)}">
        <div class="card-front" style="background-image: url(@card.Url)"></div>
        <div class="card-back"></div>
    </div>
}
</div>

@functions {
    
    [Parameter]
    protected string Keyword {get;set;}

    MemoryGame game = new MemoryGame();
    CardService cardService;
    int offset = 0;

    protected override async Task OnInitAsync()
    {
        cardService = new CardService(Http);
        await Start();
    }

    public async Task Start()
    {
        var cards = new List<Card>();
        cards = await cardService.GetCards(Keyword);
        game = new MemoryGame(cards);
    }

    public void OnClick(Card card) => game.Play(card);


}